#kiwi {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
}

#mail {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
}

#linkedin {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
}

#github {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
}