.serverContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 3rem;
}

.serverHeader {
    color: #67697C;
    font-size: 3rem;
}

.server {
    display: grid;
    grid-template-columns: 2rem 30% 25%;
    font-size: 2rem;
    height: 1.62rem;
    margin-top: 1.62rem;
}

.circle {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.serverName {
    grid-column-start: 2;
    grid-column-end: 2;
}

@media (max-width:1200px){
    .Btn {
    margin-top: 0.4rem;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: end;
    }
    .server {
        grid-template-rows: 50% 50%;
    }
  }
