.WikiContainer {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding-left: 4%;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.WikiHeader {
    margin-bottom: 3rem;
}

.userControls {
    display: flex;
    flex-direction: column;
    color: #67697C;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.SVGViewer {
    margin-top: 3rem;
    border-radius: 10%;
    background-color: white;
    height: 60vh;
    width: 50vw;
}

.errorMessage {
    margin-top: 1rem;
    font-size: 1rem;
    color: #FF3131;
}